body {
  background-color: rgb(233, 219, 169);
  text-align: center;
}
.gameboard {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px 120px;
  margin-top: 25px;
  justify-content: center;
}

.game-tile {
  background-color: blanchedalmond;
  text-align: center;
  font-size: 45px;
  border: 10px solid rgb(247, 182, 118);
  font-family: "Verdana";

  /* Can combine border styling in one line like above^ */
  /* border-color: black;
    border-style: solid; */
}

.status {
  display: inline-block;
}

#new-game {
  background-color: rgb(189, 227, 214);
  font-weight: bolder;
  font-size: large;
  margin-top: 10px;
  width: 150px;
  height: 50px;
  border: solid;
  border-radius: 10px;
}

#title,
#game-result,
#logo,
#best {
  margin: auto;
  border-radius: 10px;
  border: solid;
  width: 400px;
  background-color: blanchedalmond;
  font-family: "Monaco";
}

#game-result,
#title {
  margin: 10px auto auto auto;
}

#logo {
  width: 150px;
  border-radius: 20px;
  border: none;
  background-color: pink;
  font-family: "Copperplate";
}

#game-result {
  width: 300px;
}

#best {
  width: 120px;
}
