body {
  background-color: rgb(233, 219, 169);
  text-align: center;
}
.gameboard {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  grid-template-rows: 130px 130px 130px 130px;
  margin-top: 100px;
  justify-content: center;
}

.game-tile {
  background-color: blanchedalmond;
  text-align: center;
  font-size: 70px;
  border: 10px solid rgb(247, 182, 118);
  /* Can combine border styling in one line like above^ */
  /* border-color: black;
    border-style: solid; */
}

#new-game {
  background-color: aquamarine;
  font-weight: bolder;
  font-size: large;
  margin-top: 10px;
  width: 150px;
  height: 50px;
}
